<div class="container animated fadeIn">

	<div class="row">
		
		<div class="col-lg-4">

			<div class="panel panel-wgt">
				<div class="panel-heading">
					<h3 class="panel-title">13 March</h3>
				</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="panel panel-wgt">

				<div class="panel-heading">
					<h3 class="panel-title">12 March</h3>
				</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="panel panel-wgt">
				<div class="panel-heading">
					<h3 class="panel-title">11 March</h3>
				</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="panel panel-wgt">
				<div class="panel-heading">
					<h3 class="panel-title">10 March</h3>
				</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	
	</div>

</div>


