<div class="container animated fadeIn">

	<div class="panel panel-wgt">
		<div class="panel-heading">
			<h3 class="panel-title">Load Average</h3>
		</div>
		<div class="panel-body">
			<div class="chart-performance"></div>
		</div>
	</div>

</div>



<div class="container animated fadeIn">

	<div class="page-header">
		<h1>Top Slowest Controller</h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table">
			
				<tr>
					<td class="col-lg-5">admin@admin.local</td>
					<td class="col-lg-3">5 minutes ago</td>
					<td>/companies</td>
				</tr>

				<tr>
					<td>test1@local</td>
					<td>10 minutes ago</td>
					<td>/companies</td>
				</tr>

				<tr>
					<td>test2@local</td>
					<td>15 minutes ago</td>
					<td>/companies</td>
				</tr>

			</table>
		</div>
	</div>

</div>


<div class="container animated fadeIn">

	<div class="page-header">
		<h1>System Component</h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table">
			
				<tr>
					<td class="col-lg-5">admin@admin.local</td>
					<td class="col-lg-3">5 minutes ago</td>
					<td>/companies</td>
				</tr>

				<tr>
					<td>test1@local</td>
					<td>10 minutes ago</td>
					<td>/companies</td>
				</tr>

				<tr>
					<td>test2@local</td>
					<td>15 minutes ago</td>
					<td>/companies</td>
				</tr>

			</table>
		</div>
	</div>

</div>
