<div class="container animated fadeIn">

	<div class="panel panel-wgt">
		<div class="panel-heading">
			<h3 class="panel-title">Load Average</h3>
			<div class="pull-right" style="margin-top: -25px;"> 
				<a class="btn btn-trigger active total-chart">Total</a> 
				<a class="btn btn-trigger detail-chart">Detail</a>
		</div>
		</div>
		<div class="panel-body">
			<div class="chart-performance"></div>
			<div class="legend pull-right">&nbsp;</div>
		</div>

	</div>

</div>


<div class="container animated fadeIn">

	<div class="page-header">
		<h1>Top Slowest Actions</h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table">

				<tr>
					<th class="col-lg-6"> Controller </th>
					<th class="col-lg-4">Action</th>
					<th>Render time (ms)</th>
				</tr>
				
				<% @controllers.each do |i| %>
					<tr>
						<td> <%= i.controller %> </td>
						<td> <%= i.action %> </td>
						<td><%= i.render_time %></td>
					</tr>
				<% end %>

			</table>
		</div>
	</div>

</div>


<div class="container animated fadeIn" style="display:none;">

	<div class="page-header">
		<h1>System Component</h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table">
			
				<tr>
					<td class="col-lg-5">admin@admin.local</td>
					<td class="col-lg-3">5 minutes ago</td>
					<td>/companies</td>
				</tr>

				<tr>
					<td>test1@local</td>
					<td>10 minutes ago</td>
					<td>/companies</td>
				</tr>

				<tr>
					<td>test2@local</td>
					<td>15 minutes ago</td>
					<td>/companies</td>
				</tr>

			</table>
		</div>
	</div>

</div>
